<manifest xmlns:android="http://schemas.android.com/apk/res/android"><application android:label="Последний бастион" android:theme="@android:style/Theme.Material.NoActionBar.Fullscreen" android:allowBackup="false" android:supportsRtl="true" android:hardwareAccelerated="true"><activity android:name=".MainActivity" android:exported="true" android:screenOrientation="sensorLandscape" android:configChanges="orientation|screenSize|keyboardHidden"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity></application></manifest>
